@model BTRS.Models.Bus

@{
    ViewData["Title"] = "Details";
}

<div class="button-container">
    <p>
        <a asp-action="Index" asp-controller="Trips" class="btn btn-secondary">Trips</a>
        <a asp-action="Index" asp-controller="Buses" class="btn btn-secondary">Buses</a>
        <a asp-action="Logout" asp-controller="Passenger" id="logout-button">Logout</a>
    </p>
</div>

<div class="card">
    <dl class="row">
        <dt class="col-sm-2 card-text">Captain Name</dt>
        <dd class="col-sm-10 card-text">@Html.DisplayFor(model => model.CaptainName)</dd>
        <dt class="col-sm-2 card-text">Number of Seats</dt>
        <dd class="col-sm-10 card-text">@Html.DisplayFor(model => model.NumOfSeats)</dd>
    </dl>
</div>
<div style="margin-top: 15px">
    <a asp-action="Edit" asp-route-id="@Model?.BusID" class="btn btn-secondary">Edit</a>
</div>
