@model BTRS.Models.Bus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BusID" />
            <div class="form-group">
                <label asp-for="CaptainName" class="control-label"></label>
                <input asp-for="CaptainName" class="form-control" />
                <span asp-validation-for="CaptainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfSeats" class="control-label"></label>
                <input asp-for="NumOfSeats" class="form-control" />
                <span asp-validation-for="NumOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> TripID</label>

                <select name="tripID" id="tripID" class="form-control">
                    @foreach (var trip in ViewBag.Trips)
                    {
                        <option value="@trip.TripID">
                            @trip.Destination
                            (@trip.StartDate.ToShortDateString() - @trip.EndDate.ToShortDateString())
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
