@model BTRS.Models.Trip

<div class="button-container">
    <p>
        <a asp-action="Index" asp-controller="Trips" class="btn btn-secondary">Trips</a>
        <a asp-action="Index" asp-controller="Buses" class="btn btn-secondary">Buses</a>
        <a asp-action="Logout" asp-controller="Passenger" id="logout-button">Logout</a>
    </p>
</div>

<div class="container trip-container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="booking-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Destination" class="control-label">Destination</label>
                    <input asp-for="Destination" class="form-control" />
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">Start Date</label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">End Date</label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BusNumber" class="control-label">Bus Number</label>
                    <input asp-for="BusNumber" class="form-control" />
                    <span asp-validation-for="BusNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
