html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('/images/jordan-background.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.logo {
    max-width: 100px;
    margin-left:10px;
    height: auto;
}

.booking-card {
    position: relative;
}

#booking-title, #bus-details-title, #trip-details-title {
    font-size: 34px;
    font-weight: bold;
    color: #4d3612;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.booking-detail {
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 5px 0;
    color: #3b260d;
    font-weight: bold;
}

.data-highlight {
    font-weight: bold;
    color: #634118;
}

.cancel-btn {
    background-color: #ff4d4f;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight:bold;
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

    .cancel-btn:hover {
        background-color: #cc0000;
        color: white;
    }

.footer-links {
    text-align: center;
    margin-top: 40px;
}

.btn-secondary {
    background-color: #8b735b;
    color: white;
    padding: 8px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
    .btn-secondary:hover {
        background-color: #7a654d;
        transform: scale(1.05);
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    }

.no-seats {
    color: #dc3545;
}

.footer {
    text-align: center;
    color: #3b260d;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
    line-height: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 0px;
}

.left-text {
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 15px;
}

.right-text {
    margin-left: 5px;
    margin-right: 25px;
    margin-top: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

#logout-button {
    background-color: #ff4d4f;
    color: white;
    padding: 8px 13px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}

    #logout-button:hover {
        background-color: #cc0000;
        transform: scale(1.05);
    }

.hovercard-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.hovercard {
    border-radius: 8px;
    padding: 20px;
    width: calc(25% - 20px);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
    .hovercard:hover {
        transform: scale(1.05);
    }

.destination-image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.destination-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    color: #e9cca6;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 2px #0302021e;
    padding: 5px 10px;
}

.home-page-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #fff;
}

.welcome-message h1 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    color: #e9cca6;
    -webkit-text-stroke: 1px #0302021e;
}

.welcome-message p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    color: #e9cca6;
    -webkit-text-stroke: 1px #0302021e;
}

.book-now-container {
    display: flex;
}

#enter-image {
    width: 15vw;
    height: auto;
    margin-bottom: 50px;
    transition: transform 0.3s;
    transform: perspective(1px) translateZ(0);
}

    #enter-image:hover {
        transform: scale(1.2) translateZ(0);
    }

.login-form, .sign-up-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

    .login-form h1, .sign-up-form h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #8b735b;
    }

    .login-form label, .sign-up-form label {
        font-weight: bold;
        color: #3b260d;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-form button {
        background-color: #8b735b;
        color: #fff;
        padding: 12px 30px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

        .login-form button:hover {
            background-color: #7a654d;
            transform: scale(1.05);
        }

    .login-form p {
        font-size: 16px;
        margin-top: 20px;
        color: #3b260d;
    }

    .login-form a {
        color: #8b735b;
        font-weight: bold;
    }

.trip-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

    .trip-card:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        transform: scale(1.015);
    }

.card, .booking-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
}
    .card:hover, .booking-card:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.015);
    }

.card-title, h2.booking-header, .trip-details dl.row, dt.col-sm-2 {
    color: #3b260d;
}

.trip-card {
    background-color: rgba(255, 255, 255, 0.9);
}

.card-text, .trip-details dl.row, dt.col-sm-2 {
    color: #3b260d;
}

dd.col-sm-10 {
    color: #926023;
    font-weight: bold;
}

    .trip-card h5.card-title {
        font-size: 24px;
        font-weight: bold;
        color: #8b735b;
        margin-top: 10px;
    }

    .trip-card p.card-text {
        font-size: 16px;
        font-weight: bold;
        color: #3b260d;
        margin-top: 5px;
    }

.trip-card a.btn {
    background-color: #8b735b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

    .trip-card a.btn:hover {
        background-color: #7a654d;
        transform: scale(1.05);
    }

.container.trip-container {
    margin-top: 20px;
}

.card-body a.btn-secondary + a.btn-secondary {
    margin-left: 10px;
}

.booking-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

    .booking-form label {
        font-weight: bold;
        color: #3b260d;
    }

    .booking-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .booking-form input[type="submit"] {
        background-color: #8b735b;
        color: white;
        padding: 8px 10px;
        margin-left: 5px;
        margin-right: 5px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

        .booking-form input[type="submit"]:hover {
            background-color: #7a654d;
            transform: scale(1.05);
        }

#select-seats-button-div {
    text-align: right;
}

.available-seats, #number-of-seats {
    font-size: 16px;
    font-weight: bold;
    color: #3b260d;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button-group {
    display: flex;
    align-items: center;
}

.table {
    background-color: rgba(201, 204, 194, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

    .table th {
        background-color: #8b735b;
        color: white;
        font-weight: bold;
    }

    .table tbody tr {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .table td a {
        color: #8b735b;
        font-weight: bold;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s, transform 0.3s;
    }

        .table td a:hover {
            color: #7a654d;
            transform: scale(1.05);
        }

.trip-details {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.trip-actions {
    margin-top: 10px;
}
