@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Welcome to ABC Bus Travels</h1>
    <a asp-action="Login" asp-controller="Passenger">
        <button>Join Now</button>
    </a>
</div>
